@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.side-bar {
  z-index: 999;
  background-color: #2c3e50;
  width: 25vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  flex-direction: column;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}
.info > .user-name {
  font-size: 1.5rem;
  font-weight: 600;
}
.info > .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.info > .social-links > a {
  color: black;
  padding: 0.3rem;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  height: 2rem;
  background-color: white;
}
.info > .social-links > a:hover {
  color: white;
  background-color: black;
  transition: all 0.5s ease-out;
  transform: translateY(-5px);
}
.info > .user-logo {
  padding: 1rem;
  width: 5rem;
  background: white;
  border-radius: 50%;
}
.nav-links {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.nav-links > .nav-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem;
  justify-content: center;
  font-size: 1.2rem;
}
.nav-links > .nav-link:hover {
  color: black;
  background-color: #fff;
  border-radius: 1rem;
  transition: all 0.4s ease;
  transform: translateX(5px);
}
hr {
  width: 100%;
  color: rgb(176, 165, 165);
}
/* Hero  */

.hero {
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nfGVufDB8fDB8fHww&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 75vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
}
.hero > h2 {
  font-size: 3rem;
}
.hero > p {
  font-size: 2rem;
  font-weight: 600;
}
.hero > p > #element {
  color: #2c3e50;
  background: white;
  padding: 0.4rem 2rem;
  border-radius: 1rem;
}
.hero > h2 > #name {
  text-underline-offset: 1rem;
  text-decoration: underline;
}
